/* Apply only on Japanese pages */
html[lang="ja"] .md-tabs__link {
  font-size: 0 !important;
}

html[lang="ja"] .md-tabs__item:nth-child(1) .md-tabs__link::after {
  content: "ホーム";
  font-size: .7rem;
}
html[lang="ja"] .md-tabs__item:nth-child(2) .md-tabs__link::after {
  content: "アプリメモ";
  font-size: .7rem;
}
html[lang="ja"] .md-tabs__item:nth-child(3) .md-tabs__link::after {
  content: "起業メモ";
  font-size: .7rem;
}
html[lang="ja"] .md-tabs__item:nth-child(4) .md-tabs__link::after {
  content: "開発メモ";
  font-size: .7rem;
}
html[lang="ja"] .md-tabs__item:nth-child(5) .md-tabs__link::after {
  content: "言語";
  font-size: .7rem;
}
html[lang="ja"] .md-tabs__item:nth-child(6) .md-tabs__link::after {
  content: "製品";
  font-size: .7rem;
}